
.idea/
*.iml

**/target/

*.class

*.log

**/.mvn/wrapper/maven-wrapper.jar
**/.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

.DS_Store
Thumbs.db


